.main{
    position: absolute;
    width:  40%;
    height: 70%;
    left: 30%;
    top: 119px;
    background-color: rgba(255, 255, 255, 0.15);
}

.main .cabecalho {
    margin-top: 35px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}
.main .cabecalho a{
    text-decoration: none;

    padding-left: 15px;
    padding-right: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;
    color: #FFFFFF;
    padding-left: 40px;
}
.main .cabecalho a:first-child{
    padding-right: 50px;
    border-right: 1px solid rgba(255, 255, 255, 0.8);
}
.main .dados p {
    margin:0;
    margin-top: 2   5px;
    font-family: Roboto;
    font-style: normal;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    margin-left: 5%;
}
.main .dados {
    position: relative;
    width: 80%;
    left: 10%;
}
.main .dados p {
    margin-bottom: 5px;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.8);
}
.main .dados input {
    width: 60%;
    margin-bottom: 20px;
    padding:5px;
    padding-right: 20%;
    background-color: transparent;
    text-decoration: none;
    margin-left: 10%;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    text-decoration-color: gray;
    font-family: Roboto;
    font-style: normal;
    font-size: 20px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.8);
}
::placeholder { 
    color: rgba(255, 255, 255, 0.8);
    opacity: 1; 
  }
  .main .dados .checkbox input {
    margin: 0;  
    margin-top: 8px;  
    margin-left: 10%;
    padding: 0;
    width: auto;
    height: auto;
  }
  .main .dados .checkbox p {
    margin: none;
    margin-right: 1px;  
    width: auto;
    height: auto;
  }
.main .dados .checkbox {
    display: flex;
}

.main .botao {
    display: flex;
    justify-content: center;
}
.main button{
    margin-top: 30px;
    width: 80%;
    height: 60px;
    top: 752px;
    color: rgba(255, 255, 255, 0.8);
    border: 0;
    background: linear-gradient(180deg, rgba(28, 106, 224, 0.77) 21.92%, rgba(162, 33, 223, 0.69) 129.03%), linear-gradient(0deg, #3E43CD, #3E43CD), #FFFFFF;
    border-radius: 18px;
    font-family: Roboto;
    font-style: normal;
    font-size: 20px;
    line-height: 29px;
}