.cabecalho {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 10px;
}
.cabecalho div {
    margin: 15px;
}
.cabecalho div a {
    margin: 20px;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    color: #000000;
}