.home-page {
    width: 100vw;
    height: 100vh;
    background-image:url('https://media4.giphy.com/media/QynGmXz1EdRocDMwlG/giphy.gif');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    
}
.home-page-container {
    width: 1900px;
    position: absolute;
    left: 0px;
    top: 102px;
}