
.home-container header {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 2fr 1fr;
    background-color: black;
}
.home-container header div img{
    height: 60px;
}
.home-container header div {
    display: flex;
    align-items: center;
}
.home-container header div .button {
    height: 30px;
    border-radius: 4px;
    transition: border-color 0.2s;
    font-size: 12px;
}
.home-container header div button:hover {
    border-color: #999;
}

.home-container .content {
    width: 100%;
    padding: 96px;
    background: #E5E5E5;
    box-shadow: 0 0 100px rgba(0,0,0,0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;   
    
}
.home-container .content section {
    width: 50%;
    height: 455px;
    background-color: #000610;
    border-top-right-radius: 0px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 8px; 
}
.home-container .content h1 {
    padding: 60px;
    color: #fff;
    size: 16px;
}
.home-container .content img {
    border-radius: 8px;
    width: 500px;    
    max-width: 200px;
    max-height: 400px;
}
.home-container .content #rightimage {
    background-color: #080808;
    border-top-right-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 0;
}



